@import url("./global.css");

.container{
    /* background-color: var(--amarillo); */
    position: absolute;
    height: 100vh;
    width: 40vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    align-items: center;
    flex-flow: column nowrap;
    background-image: url("../images/favoritesBG.svg");
    background-position: 85%;
}

.favorites{
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.favorite{
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--blanco);
    border-radius: 500px;
    border: 1px solid black;
    width: 80%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}

.toolbar{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.cruz{
    width: 25px;
    position: absolute;
    right: 14px;
    top: 12px;
}


@media (max-width: 768px) {
    .container{
      width: 100vw;
    }
}