@import url("./global.css");
/* html{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
  } */

body{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: coral;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}