@import url("./global.css");

.container{
    /* background-color: var(--amarillo); */
    position: absolute;
    height: 100vh;
    width: 40vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    align-items: center;
    flex-flow: column nowrap;
    background-image: url("../images/playlistBG.svg");
    background-position: 100%;
    z-index: 10;
}

.toolbar{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.cruz{
    width: 25px;
    position: absolute;
    right: 14px;
    top: 12px;
}

.playlist{
    display: flex;
    flex-flow: column;
    background-color: var(--blanco);
    gap: 1rem;
    justify-content: space-between;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 1rem;
    border: 1px solid black;
}

.playlists{
    width: 80%;
    gap: 1rem;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}
.playlists::-webkit-scrollbar {
    display: none;
  }
.playlist-header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 500px;
}

.cancion{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--gris);
}

.input{
    border-radius: 50px;
    border: 1px solid black;
    width: 60%;
    height: 15%;
    text-align: center;
    font-family: var(--caligrafy);
}

.add{
    margin-bottom: 5rem;
}

.blue{
    color: var(--azul);
}

@media (max-width: 768px) {
    .container{
      width: 100vw;
    }
}