@import url("./global.css");



.container{
    /* background-color: var(--amarillo); */
    position: absolute;
    height: 100vh;
    width: 40vw;
    top: 0;
    right: 0;
    display: flex;

    align-items: center;
    flex-flow: column nowrap;
    background-image: url("../images/userFlowBG.svg");
    background-position: 85%;
}

.toolbar{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.cruz{
    width: 25px;
    position: absolute;
    right: 14px;
    top: 12px;
}

.change{
    text-decoration: underline;
    color: var(--blanco);
}

.central{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}